<a href="https://colab.research.google.com/github/KennedyNanga/Maths-for-AI-coding-Assignment-1/blob/main/Coding%20assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#python code
#Write code that generates five random numbers between 1 and 100 and prints them. Use a random seed of 42.
import random

#random seed (42)
random.seed(42)

#gen random 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]
print(random_numbers)

[82, 15, 4, 95, 36]

In [32]:
def remove_duplicates_and_sort(numbers):
    return sorted(set(numbers))
print(sorted)
# example
numbers = [5, 2, 9, 2, 3, 7, 8, 3, 6, 4]
result = remove_duplicates_and_sort(numbers)
print(result)  # Output: [[2, 3, 4, 5, 6, 7, 8, 9]
result.append([15, 20, 25])

<built-in function sorted>
[2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
def factorial(n):
    """factorial of a number. Modify the function to include error handling, ensuring the user inputs a valid positive integer."""
    if not isinstance(n, int):  # Check if input is an integer number
        raise ValueError("Input must be an integer.")
    if n < 0:  # Check if input is non-negative
        raise ValueError("Input must be a positive integer.")

    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Example
print(factorial(5))

120

In [25]:
def average_grade(students, grades):
    """Calculate the average grade of given students."""
    total = 0
    count = 0

    for student in students:
        if student in grades:  # Ensure the student exists in the grades dictionary
            total += grades[student]
            count += 1

    return total / count if count > 0 else None  # Return None if no students are found

# Example usage
students = ("Alice", "Bob", "Charlie")
grades = {"Alice": 85, "Bob": 90, "Charlie": 78, "David": 88}

average = average_grade(students, grades)
print(f"Average grade: {average}")  # Output: 84.33

Average grade: 84.33333333333333

In [28]:
f = open("/students.txt", "r")

print(f.read())

student_dict	name	grade
1	list	40
2	alex	50
3	John	60
4	exe	70
5	ken	80
6	eve	90
7	gabon	55
8	james	85
9	joon	75
10	peter	65
11	bathlemew	40

In [65]:
#data.txt
# Open the file in append mode
file = open('students.txt', 'a')

# Creating a dictionary with names as keys and grades as values
grades_dict = {
    "list": 40,
    "John": 60,
    "exe": 70,
    "gabon": 55,
    "james": 85,
     "joon": 75,
     "peter": 65,
     "bathlemew": 40
}



# Accessing a grade
print(grades_dict["John"])  # Output: 60


grades_dict["Eve"] = 71  # Adding a new entry
print(grades_dict)


# Calculate the average grade
average_grade = sum(grades_dict.values()) / len(grades_dict)

print(f"Average grade: {average_grade:.2f}")  # Format to two decimal places // average grade = 62.33

# Find students who scored above the average
above_average_students = [name for name, grade in grades_dict.items() if grade > average_grade]

print("Students who scored above the average:", above_average_students) # Students who scored above the average: ['exe', 'james', 'joon', 'peter', 'Eve']

60
{'list': 40, 'John': 60, 'exe': 70, 'gabon': 55, 'james': 85, 'joon': 75, 'peter': 65, 'bathlemew': 40, 'Eve': 71}
Average grade: 62.33
Students who scored above the average: ['exe', 'james', 'joon', 'peter', 'Eve']